body{
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#container{
    border: 1px solid rgb(38,38,38);
    height:700px;
    justify-content: space-evenly;
    opacity: 0.7;
    border-radius: 10%;
}
#app{
    display: grid;
    grid-template-areas:
    "h"
    "z"
    "i"
    "t"
    "m";
    align-items: center;
    text-align: center;
    justify-content: center;
    height:750px;
    background-image: url('weather-background.jpg');
}

.holder{
    margin:10px;
    width:550px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.entry{
    color:white;
}

#entryHolder{
    font-size:15pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    display:flex;
    justify-content: space-evenly;
}

#generate{
    background-color: blueviolet;
}

#zip{
    background-color: rgb(0,92,230);
    border-radius: 1vh;
}

.zip{
    margin-bottom: 15px;
}

.myInput{
    background-color: rgb(0,92,230);
    border-radius: 1vh;
    height:100px;
}

.headline {
    grid-area:h;
    color:rgb(0,128,255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #fffff8;
    font-size: 30pt;
}
.title{
    grid-area:m;
    font-size: 16pt;
    text-align: start;
    text-align: center;
    width: inherit;
    height: 80px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 2vh;
}
.feel{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height:450px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    grid-area: z;
    display:block;
    color: #c2bfba;
    font-size: 20pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input{
    display:block;
    height: 30px;
    width: 320px;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 400px;
    height: 100px;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    grid-area:t;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 